<mat-card>
  <mat-card-header>
    <mat-card-title>{{ employee()?.name }}</mat-card-title>

    @if (employee()?.deletedAt) {
      <button mat-icon-button class="delete-button" (click)="restoreTrip()">
        <mat-icon>undo</mat-icon>
      </button>
    } @else {
      <button mat-icon-button class="delete-button" (click)="confirmDelete()">
        <mat-icon>delete</mat-icon>
      </button>
    }
  </mat-card-header>

  <mat-card-content>
    <div class="employee-container">
      <div>
        <span class="employee-info">Data do passeio:</span>
        {{ employee()?.employeeDate?.toDate() | date: 'dd/MM/yyyy HH:mm' }}
      </div>

      @for (tourValue of employee()?.tourValues; track tourValue) {
        <div>
          <span class="employee-info">Valor para {{ tourValue.description }}:</span>
          {{ tourValue.price | currency: 'BRL' }}
        </div>
      }

      <div>
        <span class="employee-info">Número total de vagas:</span>
        {{ employee()?.vacancies }}
      </div>

      <div>
        <span class="employee-info">Número de vagas disponíveis:</span>
        {{ (employee()?.vacancies || 0) - (employeePeople().length || 0) }}
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions class="employee-actions">
    <app-button text="Detalhes" icon="edit" type="secondary" [url]="employee()?.id">
    </app-button>
  </mat-card-actions>
</mat-card>
