<mat-card>
  <mat-card-header>
    <mat-card-title>{{ employee()?.name }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div>
      @if (employee()?.location) {
        <div>
          Latitude: {{ employee()?.location?.latitude }} / Longitude:
          {{ employee()?.location?.longitude }}
        </div>
      } @else {
        <div>No location available</div>
      }
    </div>
  </mat-card-content>

  <mat-card-actions class="employee-actions">
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['/employees', employee()?.id, 'edit']"
    >
      <mat-icon>edit</mat-icon>
      <span>Editar</span>
    </button>
  </mat-card-actions>
</mat-card>
