<mat-form-field class="w-100">
  <mat-label>Nome</mat-label>
  <input
    matInput
    placeholder="Digite o nome da filial"
    [formControl]="formGroup.controls.name"
  />
</mat-form-field>

<mat-form-field class="w-100">
  <mat-label>Descrição</mat-label>
  <textarea
    matInput
    placeholder="Descreva a filial"
    [formControl]="formGroup.controls.description"
  ></textarea>
</mat-form-field>

<app-branches-map
  [enableClick]="true"
  [initialPositions]="[initialPosition]"
  (onClick)="onMapClick($event)"
></app-branches-map>

<div class="actions text-center">
  <button mat-raised-button color="primary" (click)="save()">
    <mat-icon>save</mat-icon>
    <span>Atualizar Filial</span>
  </button>
</div>
