/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@for $i from 0 through 100 {
  $size: percentage(calc($i / 100));

  .w-#{$i} {
    width: $size;
  }
  .h-#{$i} {
    height: $size;
  }
}

$text-alignments: (left, center, right, justify);
@each $alignment in $text-alignments {
  .text-#{$alignment} {
    text-align: $alignment;
  }
}

$display-values: (block, inline, inline-block, flex, grid);
@each $display in $display-values {
  .d-#{$display} {
    display: $display;
  }
}

$template-columns: (100, 150, 200, 250, 300, 350, 400, 450, 500);
@each $column in $template-columns {
  .tc-#{$column} {
    grid-template-columns: repeat(auto-fill, minmax(#{$column}px, 1fr));
  }
}

.grid-gap {
  gap: 10px;
}
